

@media only screen and (min-width: 500px) {
  .cursorContainer {
    height: 500px;
    width: 500px;
  }
}

@media only screen and (max-width: 300px) {
  .cursorContainer {
    height: 250px;
    width: 250px;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .cursorContainer {
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .cursorContainer {
    height: 400px;
    width: 400px;
  }
}

#cursorMovementControl {
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

.cursorContainer {
  position: relative;
  max-height: 500px;
  transform: rotate(45deg);
}

.cursorContainer > .optionSide {
  display: inline-block;
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
}

.cursorContainer > .optionSide > img {
  display: block;
  width: 50%;
  margin: 18% auto;
}

.cursorContainer .optionSide > .imageHover {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  z-index: 50;
}

.cursorContainer .optionSide.topLeft > .imageHover {
  transform: rotate(-45deg);
}

.cursorContainer .optionSide.topRight > .imageHover {
  transform: rotate(45deg);
}

.cursorContainer .optionSide.bottomLeft  > .imageHover {
  transform: rotate(-135deg);
}

.cursorContainer .optionSide.bottomRight > .imageHover {
  transform: rotate(135deg);
}

.cursorContainer .center {
  width: 50%;
  height: 50%;
  background: azure;
  position: absolute;
  top: 25%;
  right: 25%;
  border-radius: 50%;
  transform: rotate(-45deg);
  border: 1px solid #009688;
  overflow: hidden;
  z-index: 100;
}

.cursorContainer .center .clickDiv {
  width: 33%;
  height: 100%;
  float: left;
}

.cursorContainer .center .clickDiv.leftClick {
  background: #d2efec;
}

.cursorContainer .center .clickDiv.doubleLeftClick {
  /*//background: red;*/
}

.cursorContainer .center .clickDiv.rightClick {
  /*//background: red;*/
}

